<div id='round-form'>
    <%= form_for(@round, {:html => {'role' => 'form'}}) do |round_form| %>
        <% if @round.errors.any? %>
            <div id='errorExplanation' class='alert alert-danger'>
                <p>
                    <%= pluralize(@round.errors.count, "error") %> 
                    prohibited this round from being saved:
                </p>
                <ul>
                    <% @round.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class='form-group'>
            <%= round_form.label :date %><br />
            <%= round_form.date_select :date, {:order => [:month, :day, :year]}, {'class' => 'form-control'} %>
        </div>

        <div class='form-group'>
            <%= round_form.label :course %><br />
            <%= round_form.select :course, options_for_select(Round::COURSE_CHOICES), {}, {'class' => 'form-control'} %>
        </div>

        <div class='form-group'>
            <%= round_form.label :note %><br />
            <%= round_form.text_field(:note, {'class' => 'form-control'}) %>
        </div>

        <table class='table table-striped'>
            <tr>
                <th>Player 1</th>
                <% if params[:action] != 'new' %>
                    <th>Score</th>
                    <th>Adjusted Score</th>
                    <th>Points</th>
                <% end %>
                <th>Player 2</th>
                <% if params[:action] != 'new' %>
                    <th>Score</th>
                    <th>Adjusted Score</th>
                    <th>Points</th>
                <% end %>
            </tr>
        <%= round_form.fields_for :matches do |matches_form| %>
            <tr>
                <td><%= matches_form.collection_select(:player1_id, 
                                                       Player.ordered_by_number, 
                                                       :id, 
                                                       :number_and_name, 
                                                       {:include_blank => true},
                                                       {'class' => 'form-control'}) %></td>
                
                <% if params[:action] != 'new' %>
                    <%= matches_form.fields_for :score1, matches_form.object.score1 do |score1_form| %>
                        <td class='short-nums'><%= score1_form.text_field :value, {'class' => 'form-control', 'maxlength' => '3'} %></td>
                        <td class='short-nums'><%= score1_form.text_field :adjusted, {'class' => 'form-control', 'maxlength' => '3'} %></td>
                    <% end %>
                    <%= matches_form.fields_for :points1, matches_form.object.points1 do |points1_form| %>
                        <td class='short-nums'><%= points1_form.text_field :value, {'class' => 'form-control', 'maxlength' => '3'} %></td>
                    <% end %>
                <% end %>

                <td><%= matches_form.collection_select(:player2_id, 
                                                       Player.ordered_by_number, 
                                                       :id, 
                                                       :number_and_name, 
                                                       {:include_blank => true},
                                                       {'class' => 'form-control'}) %></td>
                <% if params[:action] != 'new' %>
                    <%= matches_form.fields_for :score2, matches_form.object.score2 do |score2_form| %>
                        <td class='short-nums'><%= score2_form.text_field :value, {'class' => 'form-control', 'maxlength' => '3'} %></td>
                        <td class='short-nums'><%= score2_form.text_field :adjusted, {'class' => 'form-control', 'maxlength' => '3'} %></td>
                    <% end %>
                    <%= matches_form.fields_for :points2, matches_form.object.points2 do |points2_form| %>
                        <td class='short-nums'><%= points2_form.text_field :value, {'class' => 'form-control', 'maxlength' => '3'} %></td>
                    <% end %>
                <% end %>
            </tr>
        <% end %>
        </table>


        <div class='actions'>
            <%= round_form.submit(nil, 'class' => 'btn btn-primary')%>
        </div>
    <% end %>
</div>