<%= form_for(@player) do |f| %>
    <% if @player.errors.any? %>
        <div id='errorExplanation'>
            <h2>
                <%= pluralize(@player.errors.count, "error") %> 
                prohibited this player from being saved:
            </h2>
            <ul>
                <% @player.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class='field'>
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
    </div>

    <div class='field'>
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
    </div>

    <div class='field'>
        <%= f.label :suffix %><br />
        <%= f.text_field :suffix %>
    </div>

    <div class='field'>
        <%= f.label :flight %><br />
        <%= f.text_field :flight %>
    </div>

    <div class='field'>
        <%= f.label :number %><br />
        <%= f.text_field :number %>
    </div>

    <div class='actions'>
        <%= f.submit %>
    </div>
<% end %>