<div id='stats-history'>
  <h1>Score History</h1>

  <% @players_by_flight.each do |flight, players| %>


    <h2><%= flight %></h2>
    <table class='table table-striped'>
      <tr>
        <th>Player</th>
        <th>#</th>
        <th>Avg</th>
        <% (1..9).each do |n| %>
          <th><%= n %></th>
        <% end %>
        <th>To drop</th>
        <th>Dropped</th>
      </tr>
    <% players.each do |player| %>
      <tr>
        <td><%= player.full_name %></td>
        <td><%= player.number %></td>
        <td><%= player.avg_score %></td>
        <% player.last_scores.each do |score| %>
          <td><%= score %></td>
        <% end %>
      </tr>
    <% end %>

    </table>

  <% end %>









</div>