<div id='stats-history'>
  <h1>Score History</h1>

  <% @players_by_flight.each do |flight, players| %>

    <h3><%= flight %></h3>
    <table class='table table-striped'>
      <tr>
        <th>Player</th>
        <th>#</th>
        <th>Avg</th>
        <% (1..(Player::SCORE_HISTORY - 2)).each do |n| %>
          <th><%= n %></th>
        <% end %>
        <th>To drop</th>
        <th>Dropped</th>
      </tr>
    <% players.each do |player| %>
      <tr>
        <td><%= player.full_name %></td>
        <td><%= player.number %></td>
        <td><%= player.avg_score %></td>
        <% player.last_scores.each do |score| %>
          <td><%= score %></td>
        <% end %>
      </tr>
    <% end %>
    </table>

  <% end %>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <h3 class='panel-title'>Scoring Notes</h3>
    </div>
    <div class='panel-body'>
      <ul>
        <li>
          If an opponent is absent, golfer is to pick another golfer in his 
          opponent's flight and in his foursome to score his card against.
        </li>
        <li>
          Absent player receives whatever the difference is between 20 and 
          opponent's points, but is limited to a <strong>maximum of 8 
          points</strong> or opponent's points, whichever is lower.
        </li>
        <li>
          If both opponents are absent for a scheduled match, each will receive 
          8 points.
        </li>
        <li>
          Net Scores for average: 1st flight - double bogey maximum; 2nd Flight 
          - triple bogey maximum.
        </li>
      </ul> 
      <strong>Please adjust your weekly cards accordingly</strong>
    </div>
  </div>

</div>