<div id='stats-rankings'>

  <h1>Rankings</h1>

  <% @players_by_flight.each do |flight, players| %>
    <h3><%= flight %></h3>
    <table class='table table-striped'>
      <tr>
        <th>Player</th>
        <th>#</th>
        <th>Mates Avg</th>
        <th>Last Round's Score</th>
        <th>Last Round's Points</th>
        <th>Current Total Points</th>
      </tr>

      <% players.each do |player| %>

        <tr>
          <td><%= player.full_name %></td>
          <td><%= player.number %></td>
          <td><%= player.avg_score %></td>
          <td><%= player.score_info(@last_match) %></td>
          <td><%= player.points_info(@last_match) %></td>
          <td>total points</td>
        </tr>

      <% end %>


    </table>
  <% end %>

</div>